@import '../../css/mixin.scss';

.main-basket {
	&__wrapper {
		padding: 0.9375rem 0 0 0;
		width: 85%;
		max-width: 1200px;
		margin: auto;

		@media (max-width: 600px) {
			width: 95%;
		}
	}

	&__button-reset {
		width: 12.5rem;
		margin: 0 0 0.9375rem 0;
		@include button_shop;
	}

	&__products {
		margin: 0 0 0.9375rem 0;
	}

	&__form-order {
		margin: 0 auto 0.9375rem auto;
	}

	&__total {
		margin: 0 0 0.9375rem 0;
	}
}

.products {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: auto;
	grid-column-gap: 0.625rem;
	grid-row-gap: 1.25rem;
	font-size: 1.5rem;

	&__item {
		height: auto;
	}

	@include phone {
		grid-template-columns: repeat(2, 1fr);
	}
}

.product {
	position: relative;
	overflow: hidden;
	padding: 0.625rem;

	&__link {
		cursor: pointer;
		display: block;
		width: 100%;
		// height: 62%;
		margin-bottom: 0.625rem;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__rating {
		margin: 0 0 1em 0;
	}

	&__name {
		display: block;
		margin-bottom: 0.625rem;
	}

	&__price {
		display: block;
		margin-bottom: 0.625rem;
	}

	&__button-delete {
		display: block;
		cursor: pointer;
		margin-left: 0.3125rem;
		position: relative;
		z-index: 2;
		width: 6.25rem;
		@include button_shop;
	}
	&:hover{
		border-radius: 6px;
		box-shadow: 0 0 13px 1px #bccfd1;
	}
}

.total {
	font-size: 1.5rem;
}