extends ../../templates/main.pug

block var

    - var title = 'Корзина'

block content
    main.basket-page
        button.button-reset-basket Очистить корзину
        ul.products
        .basket-page__products
        include ../../components/blocks/form-order/form-order
        .basket-page__sum