extends ../../templates/main.pug

block var
    - var title = 'Магазин'
    - var page = 'index'

block content
    main.main-index
        .main-index__wrapper
            select.main-index__sort.sort-products(name='sort-products')
                option(value='sortIncreasedPrice' selected) По возростающей цене
                option(value='sortDecreasedPrice' ) По убывающей цене
                option(value='sortAlphabet') По алфавиту
            select.main-index__sort-by-category.sort-products-by-category(name='category' placeholder='категория')
                option(value="all") Все категории 
                option(value="sofa") Диван 
                option(value="dresser") Комод
                option(value="wardrobe") Шкаф 
                option(value="table") Стол 
            ul.main-index__products.products