.products {
	margin: auto;
	width: 70%;
	max-width: 900px;
	height: 400px;
	//display: flex;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(9.375rem, 1fr));
	grid-gap: 2%;
	//justify-content: space-between;
	//align-items: center;
	//flex-wrap: wrap;
	overflow-x: scroll;
	padding-top: 10px;

	&__item {
		//margin-left: 5px;
		//margin-right: 5px;
		//margin-bottom: 10px;
		//&:last-child{
		//	margin-right: 0;
		//}
	}
}

.product {
	min-width: 13.75rem;
	min-height: 18.75rem;
	max-height: 25rem;
	position: relative;
	cursor: pointer;

	// @media (max-width: 460px) {
	// min-height: 200px;
	// }
	&__link {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__image-block {
		// position: absolute;
		// top: 0;
		// left: 0;
		width: 100%;
		height: 70%;
		margin-bottom: 0.3125rem;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__name {
		display: block;
		margin-bottom: 0.625rem;
		color: #000;
	}

	&__button {
		display: block;
		margin-left: 0.3125rem;
		position: relative;
		z-index: 2;
		width: 6.25rem;
		height: 1.5625rem;
	}
}

.sort-products {
	cursor: pointer;
	size: 7.5rem 1.875rem;
	border-radius: 0.5313rem;
	border-color: black;
	outline: none;
}