@import '../../css/mixin.scss';

.products {
	margin: auto;
	width: 85%;
	max-width: 1200px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: auto;
	grid-column-gap: 0.625rem;
	grid-row-gap: 1.25rem;
	padding-top: 10px;
	@media (max-width: 600px){
		width: 90%;
	}

	&__item {
		height: auto;
	}
}

.product {
	position: relative;
	cursor: pointer;

	&__link {
		display: block;
		width: 100%;
		height: 72%;
		margin-bottom: 0.625rem;
	}
	
	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	
	&__name {
		display: block;
		margin-bottom: 0.625rem;
		color: #000;
	}
	
	&__price {
		display: block;
		margin-bottom: 0.625rem;
	}

	&__button {
		display: block;
		margin-left: 0.3125rem;
		position: relative;
		z-index: 2;
		width: 6.25rem;
		@include button_shop;
	}
}

.sort-products {
	cursor: pointer;
	size: 7.5rem 1.875rem;
	border: none;
	outline: none;
	@include button_shop;
}