@import '../../css/mixin.scss';

// TODO сетка
.main-index {
	padding: 1.5625rem 0 1.25rem 0;
	width: 85%;
	max-width: 1200px;
	margin: auto;

	@media (max-width: 600px) {
		width: 95%;
	}

	@media (min-width: 1200px) {}

	&__sort {
		margin: 0 .625rem .625rem 0;
	}

	&__sort-by-category {
		margin: 0 0 .625rem 0;
	}
}

.products {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-auto-rows: auto;
	grid-column-gap: 0.625rem;
	grid-row-gap: 1.25rem;
	padding-top: 10px;

	&__item {
		height: auto;
		z-index: 1001;
	}

	@include phone {
		grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	}
}

.product-card {
	position: relative;
	padding: 0.625rem 0.625rem 1.5625rem 0.625rem;
	overflow: hidden;
	border-radius: 6px;

	&__link {
		display: block;
		margin-bottom: 0.625rem;
		width: 100%;
		height: 60%;
		cursor: pointer;
	}

	&__image {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__rating {
		margin: 0 0 0.625rem 0;
	}

	&__name {
		display: block;
		margin-bottom: 0.625rem;
	}

	&__price {
		display: block;
		margin-bottom: 0.625rem;
		font-size: 1.3rem;
	}

	&__button {
		display: block;
		margin: 0 0 8px 0.3125rem;
		position: relative;
		z-index: 2;
		width: 6.25rem;
		@include button_shop;
	}

	&:hover {
		@include hover {
			box-shadow: 15px 15px 40px #bebebe,
				-15px -15px 40px #ffffff
		}
	}
}

.sort-products {
	float: left;
	cursor: pointer;
	size: 7.5rem 1.875rem;
	padding: 3px 5px 3px 5px;
	border: none;
	outline: none;
	@include button_shop;
}

.sort-products-by-category {
	cursor: pointer;
	size: 7.5rem 1.875rem;
	padding: 3px 5px 3px 5px;
	border: none;
	outline: none;
	@include button_shop;
}