.my-slider
        buttonv.my-slider__button.my-slider__button--left
        buttonv.my-slider__button.my-slider__button--right
        .my-slider__container
            ul.my-slider__list-slides
                li.my-slider__slide
                li.my-slider__slide
                li.my-slider__slide
                li.my-slider__slide
                li.my-slider__slide
                li.my-slider__slide
                li.my-slider__slide
                li.my-slider__slide
                li.my-slider__slide
        ul.my-slider__control
            li.my-slider__dot
            li.my-slider__dot
            li.my-slider__dot
            li.my-slider__dot
            li.my-slider__dot
            li.my-slider__dot
            li.my-slider__dot
            li.my-slider__dot
            li.my-slider__dot