.header {
	height: 8rem;
	background-color: var(--color-main);
	position: relative;
	box-shadow: 0 10px 20px #b6b4b4;

	&__menu-button {
		display: none;
		position: absolute;
		right: 2.5%;
		top: 50%;
		transform: translateY(-50%);
		height: 2.1875rem;
		width: 2.1875rem;
		transition: transform 0.2s;
		background: url(../images/icons/menu.svg) no-repeat 0 0;
		background-size: cover;
		border: none;
		@include phone {
			display: block;
		}
	}

	&__menu--close {
		background: url(../images/icons/cross-light.svg) no-repeat 0 0;
	}

	&__basket {
		position: absolute;
		right: 7.5%;
		top: 50%;
		transform: translateY(-50%);

		@media (max-width: 600px) {}

		@include tablet {
			right: 2.5%;
		}

		@include phone {
			display: none;
		}
	}

	&__sign {
		border: none;
		background: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 15%;
		padding: 0;
		color: var(--color-text-light);
		cursor: pointer;
		font-family: inherit;
		font-weight: inherit;
		letter-spacing: inherit;
		font-size: inherit;

		@include phone {
			display: none;
		}
	}

	&__login {
		@extend .header__sign;
		right: 11%;

		@include tablet {
			right: 8.5%;
		}

		@include phone {
			display: none;
		}
	}

	&__link-home {
		position: absolute;
		left: 7.5%;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		color: var(--color-text-light);

		@include tablet {
			left: 2.5%;
		}
	}

	&__link {
		color: inherit;
	}

	&__link-logo {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 100;
		height: 80%;

		@media (max-width: 600px) {
			height: 65%;
		}
	}
}

.logo-furniture {
	width: 100%;
	height: 100%;
	object-fit: cover;
}