.menu-nav {

	display: flex;
	justify-content: space-around;
	align-items: center;

	@include tablet {
		right: 2.5%;
	}

	@media (max-width: 720px) {
		display: none;
	}

	&__basket {
		margin-left: 0.625rem;

		@include phone {
			display: none;
		}
	}

	&__sign {
		border: none;
		margin: 0 0.625rem;
		padding: 0;
		color: var(--color-text-light);
		cursor: pointer;
		background: none;
		font-family: inherit;
		font-size: inherit;
		font-weight: inherit;
		letter-spacing: inherit;

		@include phone {
			display: none;
		}
	}

	&__login {
		@extend .menu-nav__sign;
		margin-right: 0.625rem;
	}

	&__logout {
		@extend .menu-nav__sign;
		margin-right: 0.625rem;
	}

	&__user-name {
		@extend .menu-nav__sign;
		color: var(--color-text-light);
		height: auto;
		cursor: none;
	}
}