.basket {
	height: 2.1875rem;
	width: 2.1875rem;
	background: url('../images/icons/basket.svg') no-repeat;
	background-position: 0%;
	background-size: cover;
	cursor: pointer;
	transition: transform .5s;
	&__count{
		display: none;
		position: absolute;
		bottom: 0;
		left:  0;
		transform: translate(-35%, 50%);
		width: 1.25rem;
		height: 1.25rem;
		background-color:red;
		color: wheat;
		border-radius: 50%;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-size: .9rem;
		//vertical-align: middle;
		//line-height: .9rem;
	}
}