// миксины для адаптивности

@mixin desktop() {
	@media (max-width: 1200px) {
		@content;
	}
}

@mixin laptop() {
	@media (max-width: 992px) {
		@content;
	}
}

@mixin tablet() {
	@media (max-width: 768px) {
		@content;
	}
}

@mixin phone() {
	@media (max-width: 480px) {
		@content;
	}
}

@mixin device_landscape {
	@media (max-width: 960px) and (orientation: landscape) {
		@content;
	}
}

// миксины для адаптивности фоновых картинок

@mixin retina {

	@media screen and (-webkit-min-device-pixel-ratio: 1.5),
	screen and (min-resolution: 144dpi) {
		@content;
	}
}

// миксины выравнивания 

@mixin align-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@mixin button_shop {
	cursor: pointer;
	display: block;
	text-align: center;
	padding: 0;
	background-color: var(--color-main);
	color: var(--color-text-light);
	font-weight: bold;
	border: none;
	height: 30px;
	border-radius: 0.9375rem;
	box-shadow: 0 2px 8px 0 var(--color-main);
	transition: .4s linear;
	padding: 0 0.625rem 0 0.625rem ;
	&:hover {
		background-color: var(--color-hover);
		box-shadow: 0 2px 8px 0 var(--color-hover);
		transform: scale(1.05);
	}
}