// :root {
	// --color-main: #16bebb;
	// --color-hover: #399d9b;
	// --color-text: #929494;
// }

:root{
	--color-main: #89B6A5;
	--color-hover: #558B76;
	--color-text: #929494;
	--color-text-light: #f8f8f3;
	--color-text-dark: #3d5c60;
	--color-bg-light: #f8f8f3;
}