@import '../../css/mixin.scss';

.header__basket {
	display: none;
}

.admin {
	padding-left: 1.25rem;
	padding-top: 1.25rem;
}

.input {
	width: 100%;
	height: 30px;
	margin-bottom: 0.625rem;
	padding: 0 3px 0 3px;
	border-radius: 5px;
	border: 2px solid var(--color-text);
	box-sizing: border-box;
	outline: none;
}

.admin__form-add {
	float: left;
	margin-right: 2.5rem;
	height: 15rem;

	@include tablet {
		float: none;
	}
}

.form-product {
	display: flex;
	flex-direction: column;

	&__title {
		font-size: 1.5rem;
		margin-bottom: 0.625rem;
		width: 15.625rem;
	}

	&__name {
		@extend .input;
	}

	&__price {
		@extend .input;
	}

	&__bg {
		@extend .input;
	}

	&__image {
		margin-bottom: 0.625rem;
	}

	&__submit {
		@include button_shop;
		margin-bottom: 0.625rem;
		width: 100%;
		cursor: pointer;
	}

	&__reset {
		@include button_shop;
		width: 100%;
		cursor: pointer;
	}
}


.admin__form-delete-product {
	float: left;
	margin-right: 2.5rem;

	@include tablet {
		float: none;
	}
}

.form-delete-product {
	display: flex;
	flex-direction: column;
	height: 15rem;

	@include tablet {
		height: auto;
	}

	&__title {
		font-size: 1.5rem;
		margin-bottom: 0.625rem;
		width: 15.625rem;
	}

	&__id {
		@extend .input;
	}

	&__submit {
		@include button_shop;
		margin-bottom: 0.625rem;
		cursor: pointer;
		width: 100%;
	}

	&__reset {
		@include button_shop;
		cursor: pointer;
		width: 100%;
	}
}

.admin__form-update-product {
	float: left;

	@include laptop {
		float: none;
	}
}

.form-update-product {
	display: flex;
	flex-direction: column;

	// height: 15rem;
	&__title {
		font-size: 1.5rem;
		margin-bottom: 0.625rem;
		width: 15.625rem;

	}

	&__id {
		@extend .input;
	}

	&__name {
		@extend .input;
	}

	&__price {
		@extend .input;
	}

	&__add-pic {
		margin-bottom: 0.625rem;
	}

	&__submit {
		@include button_shop;
		margin-bottom: 0.625rem;
		cursor: pointer;
		width: 100%;
	}

	&__reset {
		@include button_shop;
		cursor: pointer;
		width: 100%;
	}
}

.add-pic {
	position: relative;
	height: 35px;
	padding: 0 0 0 40px;
	line-height: 35px;
	font-size: 14px;
	&__image{
		opacity: 0;
		width: 0;
		height: 0;
		overflow: hidden;
	}
	&__label {
		display: block;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		width: 35px;
		height: 35px;
		background: url(../../images/icons/pic.svg) no-repeat;
	}
	&__span{

	}
}