extends ../../templates/main.pug

block var

    - var title = 'Админка'
    - var page = 'admin'
    
block content
    .main-admin.clearfix
        include ../../components/components/block-tabs/block-tabs.pug
