@import '../../css/mixin.scss';

.header__basket {
	display: none;
}

.admin {
	padding: 1.25rem 1.25rem 0 1.25rem;
}

.admin__form-add {
	float: left;
	margin-right: 2.5rem;
	@include tablet {
		margin: 0;
		float: none;
	}
}

.form-add-product {
	display: flex;
	flex-direction: column;

	&__title {
		font-size: 1.5rem;
		margin-bottom: 0.625rem;
		width: 15.625rem;
	}

	&__name {
		@include input_shop;
	}

	&__price {
		@include input_shop;
	}

	&__bg {
		@include input_shop;
	}

	&__image {
		opacity: 0;
		width: 0;
		height: 0;
		overflow: hidden;
	}

	&__add-pic {
		margin-bottom: 0.625rem;
	}

	&__category {
		background-color: #fff;
		@include input_shop;
	}

	&__submit {
		@include button_shop;
		margin-bottom: 0.625rem;
		width: 100%;
		cursor: pointer;
	}

	&__reset {
		@include button_shop;
		width: 100%;
		cursor: pointer;
	}
}


.admin__form-delete-product {
	float: left;
	margin-right: 2.5rem;

	@include tablet {
		margin: 0;
		float: none;
	}
}

.form-delete-product {
	display: flex;
	flex-direction: column;
	height: 15rem;

	@include tablet {
		height: auto;
	}

	&__title {
		font-size: 1.5rem;
		margin-bottom: 0.625rem;
		width: 15.625rem;
	}

	&__id {
		@include input_shop;
	}

	&__submit {
		@include button_shop;
		margin-bottom: 0.625rem;
		cursor: pointer;
		width: 100%;
	}

	&__reset {
		@include button_shop;
		cursor: pointer;
		width: 100%;
	}
}

.admin__form-update-product {
	float: left;

	@include tablet {
		width: 100%;
		float: none;
	}
}

.form-update-product {
	display: flex;
	flex-direction: column;
	width: 15.625rem;
	@include tablet {
		min-width: 320px;
		width: 100%;
	}
	&__title {
		font-size: 1.5rem;
		margin-bottom: 0.625rem;
		width: 15.625rem;

	}

	&__id {
		@include input_shop;
	}

	&__name {
		@include input_shop;
	}

	&__price {
		@include input_shop;
	}

	&__add-pic {
		margin-bottom: 0.625rem;
	}

	&__submit {
		@include button_shop;
		margin-bottom: 0.625rem;
		cursor: pointer;
		width: 100%;
	}

	&__reset {
		@include button_shop;
		cursor: pointer;
		width: 100%;
	}
}

.add-pic {
	position: relative;
	height: 35px;
	padding: 0 0 0 40px;
	line-height: 35px;
	font-size: 14px;

	&__image {
		opacity: 0;
		width: 0;
		height: 0;
		overflow: hidden;
	}

	&__label {
		display: block;
		cursor: pointer;
		position: absolute;
		top: 0;
		left: 0;
		width: 35px;
		height: 35px;
		background: url(../../images/icons/pic.svg) no-repeat;
	}

	&__span {}
}